div#MultiFile1_wrap_list {
    display: inline-block;
    width: 100%;
}

span.MultiFile-label {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

a.MultiFile-remove {
    font-size: 15px;
    border: 1px solid #ccc;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
}

div#MultiFile1_wrap_list {
    margin-top: 10px;
    padding: 0 10px;
}

.MultiFile-label {
    margin: 15px 0;
}

span.MultiFile-label > span.MultiFile-title {
    margin-right: 10px;
    float: left;
    width: 35%;
}

img.MultiFile-preview {
    float: left;
    width: 65%;
}

div.show-image {
    position: relative;
    float:left;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover input {
    display: block;
}
div.show-image input {
    position:absolute;
    display:none;
}
div.show-image input.delete {
    bottom:39%;
    left:34%;
}

.photos{
    margin: 6px auto 100px;
    overflow: hidden;
    width: 480px;
}
.photos img {
    float: left;
    height: 110px;
    margin: 1px 1px 0 0;
    overflow: hidden;
    width: 145px;
}