@CHARSET "UTF-8";

/**************
 Common style 
***************/
body {
	/*margin-top: 88px;*/
	font-size: 13px;
	line-height: 1.6;
}

p, li, li a, label {
	color: #555;
}

a {
	text-decoration: none;
}

/**************
 Common page 
***************/
/* Headline */
.headline-top {
	display: block;
	margin: 20px 0 25px 0;
}

.headline-top h2 {
	margin: 0 0 -2px 0;
	padding-bottom: 5px;
	display: inline-block;
	border-bottom: 2px solid #72c02c;
	color: #555;
	font-size: 18px;
	font-weight: normal;
	line-height: 33px;
	text-transform: uppercase;
	text-shadow: none;
}
/*  Pages */
.content {
	padding-top: 20px;
	padding-bottom: 10px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

/*  Topic path */
@media ( max-width : 768px) {
	.topic-path h1.pull-left {
		width: 100%;
		text-align: center;
	}
}

.topic-path {
	overflow: hidden;
	padding: 15px 0 10px;
	border-bottom: solid 1px #eee;
	background: #FAFAFA;
}

.topic-path h1 {
	color: #666;
	font-size: 22px;
	margin-top: 8px;
	text-shadow: none;
	line-height: 35px;
	font-weight: normal;
	text-transform: capitalize;
}
/*  Sroll-Up */
.scroll-up {
	cursor: pointer;
	display: block;
	position: fixed;
	right: 20px;
	bottom: 15px;
	z-index: 9999;
}

.scroll-up i {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 10%;
	color: #fff;
	line-height: 35px;
	text-align: center;
	background-color: #222;
}

.scroll-up:hover i {
	color: #fff;
	background: #72c02c;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.class-teacher-checkbox {
    float: left;
    width: 23%;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}